---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import BlogCard from "../components/BlogCard.astro";
import BlogLength from "../components/BlogLength.astro";
import ResponsiveNav from "../components/ResponsiveNav.astro";
import { navLinks } from "../utils/navLinks";

---

<Layout>
  <div class="bg-emer w-full min-h-screen">
    <div
      class="min-w-screen min-h-screen bg-[url(../assets/repeat.svg)] bg-repeat h-screen"
    >
    <ResponsiveNav links={navLinks}/>

      <div class="main py-2 md:py-6">
        <div class="flex justify-center mb-4">
          <h1 class="text-3xl md:text-5xl text-josefin-800 mt-12">
            About Us
          </h1>
        </div>
        <div class="flex justify-center mb-4">
          <p
            class="md:text-2xl/12  bg-santra border-2 shadow-2xl text-center text-josefin-400 text-black w-fit m-12 p-6"
          >
          Welcome to The Science Box – your go-to destination for exploring the wonders of science in a fun, engaging, and accessible way!

          We are a group of science enthusiasts—Iffat, Dheera, Saisha, Amaira, and Aarush—who believe that science isn't just about textbooks and complex theories. It's about curiosity, discovery, and making sense of the world around us. Our mission is to break down scientific concepts into exciting, easy-to-understand articles and infographics that spark interest and inspire learning.
          
          At The Science Box, we cover everything—from the mysteries of space to the tiniest particles of life, from groundbreaking discoveries to the science behind everyday phenomena like the chemistry of your daily coffee. Whether you're a student, a science lover, or just someone who enjoys learning new things, we've got something for you!
          
          But we're more than just a blog—we're a platform. We want to hear from you! If you have a science-related article, idea, or infographic you'd love to share, send it our way. Through our approval process, we aim to create a community-driven space where science is made accessible by anyone who wants to contribute.
          
          Join us as we dive into the fascinating world of science—one post at a time!
          
          </p>
        </div>
        

      </div>
    </div>
    <div class="w-screen h-fit p-2 bg-pinky text-josefin-600 text-center">
      <div class="text-2xl">© The Science Box </div>
    </div>
  </div>
</Layout>
