---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout >

	<div class="bg-viola h-fit">
	<Nav  />
	<div class="w-full h-full text-center align-middle p-14">
		<img src="hero-img.svg" alt="The Science Box Logo" class="m-auto" />

	</div>
	</div>

	

	<p class="text-emer">world</p>
</div>
</Layout>
