---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import BlogCard from "../components/BlogCard.astro";
import BlogLength from "../components/BlogLength.astro";
import ResponsiveNav from "../components/ResponsiveNav.astro";

let posts = [
  {
    title: "The Science of Sleep",
    heroImagePath: "image.png",
    description:
      "The science of sleep is a fascinating field that has been studied for centuries. In this article, we explore the latest research on sleep and how it affects our health and well-being.",
    titleColor: "#FFD700",
  },
  {
    title: "The Science of Sleep",
    heroImagePath: "image.png",
    description:
      "The science of sleep is a fascinating field that has been studied for centuries. In this article, we explore the latest research on sleep and how it affects our health and well-being.",
    titleColor: "#6B8E23",
  },
  {
    title: "The Science of Sleep",
    heroImagePath: "image.png",
    description:
      "The science of sleep is a fascinating field that has been studied for centuries. In this article, we explore the latest research on sleep and how it affects our health and well-being.",
    titleColor: "#4682B4",
  },
];

let navLinks = [
  { href: '/', text: 'Home' },
  { href: '/about', text: 'About' },
  { href: '/projects', text: 'Projects' },
  { href: '/contact', text: 'Contact' },
];
---

<Layout>
  <div class="bg-white w-full min-h-screen">
    <div
      class="min-w-screen min-h-screen bg-[url(../assets/repeat.svg)] bg-repeat h-full"
    >
      <ResponsiveNav links={navLinks} />
      <div class="main py-2 mt-12 md:mt-auto md:py-6">
        <div class="flex justify-center mb-4">
          <h1 class="text-2xl md:text-5xl text-josefin-800">
            All Infographics
          </h1>
        </div>
        <div class="flex justify-center mb-4">
          <p
            class="md:text-2xl text-center text-josefin-400 text-slate-600 w-screen"
          >
            interesting facts, mind blowing statististics and more..... in just
            a picture
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
