---
import NavLink from "./NavLink.astro";
---

<div class="flex cols-3 group" transition:persist>
  <div
    class="nav bg-pinky group-hover:bg-white duration-200 w-2/5 h-fit md:p-2 lg:p-4 outline-2 m-auto align-middle text-center flex cols-2"
  >
    <NavLink text="HOME" link="/home" />
    <NavLink text="BLOG" link="/blog" />
  </div>

  <img src="/navLogo-cropped.svg" alt="Navigation Logo" class="m-0 text w-1/5" />

  <div
    class="nav bg-pinky group-hover:bg-white duration-200 w-2/5 h-fit md:p-2 lg:p-4 outline-2 m-auto align-middle text-center flex cols-2"
  >
    <NavLink text="INFOGRAPHICS" link="/infographics" />
    <NavLink text="ABOUT" link="/about" />
  </div>
</div>
